$hue: 196

$link: hsl($hue,100,50)
$hover: hsl($hue,100,70)

$m: 13px
$txt: #1b1b1b

=font($size: $m)
  font: $size $sans
  line-height: 150%
  color: $txt

=link
  color: $link
  text-decoration: none
  &:hover
    color: $hover
a
  +link

html
  overflow-y: scroll

body
  +font
  background: #333

