<!doctype html>
<html lang="en" dir="ltr">
<head>
  <!-- by Peng Zhong -->
  <meta charset="utf-8" />
  <title>vodo</title>
  <link type="text/css" rel="stylesheet" href="css/screen.css" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript"  src="js/jquery.tmpl.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $.getJSON('http://pipes.yahoo.com/pipes/pipe.run?_id=f42c711ab0e64056fd200b38ad98e102&_render=json&_callback=?',
      function(data){    
        $.each(data.value.items[0].entry, function(i,entry){
          $('#torrentData').tmpl(entry).appendTo('dl.torrents');
        });

        // Open an initial torrent page
        $('dl.torrents dt.torrent:first').addClass('active');
        $('dl.torrents dd.torrent:first').addClass('show');

        // How the tabs work
        $('dt.torrent').click(function() {
          $(this).toggleClass('active');
          $(this).next('dd.details').toggleClass('show')
            .siblings('dd.details').removeClass('show');
          $(this).siblings('dt.torrent').removeClass('active');
          return false;
        });
        $('dd.details .close').click(function() {
          $(this).parents('dd.details').toggleClass('show')
            .prev('dt.torrent').removeClass('active');
        });
      });

      // Scroll to top
      $('a.top').click(function(){
        $('html, body').animate({scrollTop: '0px'}, 150);
        return false;
      });
    });
  </script>
  
  <script id="torrentData" type="text/html">
    <dt class="torrent">
      <div class="content">
        <p class="title">${(title).substring(0,60)}</p>
        <p class="meta">${(author.name).substring(0,70)}</p>
      </div>
      <p class="date">${(published).substring(0,10)}</p>
    </dt>

    <dd class="torrent details">
      <div class="header">
        <p class="date">Published ${(published).substring(0,10)}</p>
        <p class="close"><a>Close</a></p>
      </div>

      <div class="content">
        <h1><a href="${link[0].href}">${title}</a></h1>
        <p class="author">Torrent by <span class="name">${author.name}</span></p>
        <div class="body">
          {{html content.content}}
        </div>
      </div>

      <div class="meta">
        <p class="download"><a href="${link[1].href}">Download</a></p>

        <dl class="specs">
          {{if format.size}}
            <dt>Size</dt>
            <dd class="size">${Math.round(format.size / 1024 / 1024)} MB</dd>
          {{/if}}

          {{if format.duration}}
            <dt>Duration</dt>
            <dd class="duration">${Math.round(format.duration / 60)} min.</dd>
          {{/if}}

          {{if format.width}}
            <dt>Resolution</dt>
            <dd class="resolution" title="${format.pixel_aspect_ratio}">${format.width} &times; ${format.height}</dd>
          {{/if}}

          {{if format.video_bitrate}}
            <dt>Video</dt>
            <dd>
              ${Math.round(format.video_bitrate)} kB/s
              {{if format.framerate}}
                ${Math.round(format.framerate)} fps
              {{/if}}
              ${format.video_codec}
          </dd>
          {{/if}}

          {{if format.audio_bitrate}}
            <dt>Audio</dt>
            <dd>
              ${format.audio_codec}
              ${Math.round(format.audio_bitrate)} Kb/s
              ${Math.round(format.samplerate)} Hz
            </dd>
          {{/if}}
        </dl>
      </div>

      <div class="footer">
        <p><a href="${link[0].href}">Read more on vodo &raquo;</a></p>
      </div>
    </dd>
  </script>

</head>
<body>

<div id="content">

  <div class="site header">
    <h1><a href="http://vodo.net">Vodo</a></h1>
  </div>

  <dl class="torrents"></dl>

  <div class="site footer">
    <p id="end">End of entries&mdash;<a class="top" href="">back to top</a></p>
    <p id="copy">&copy; <a href="http://nylira.com">Peng Zhong</a></p>
  </div>

</div>


</body>
</html>
